<!--$Date: 2004/03/15 22:28:00 $ $Revision: 1.1.1.1 $-->
<style type="text/css">
<!-- 

  .Normal {font-size: 13px; position:relative; left:8}
  .Param {font-size: 13px; position:relative; left:24}

  .Footer {font-size: 12px}
  .Header {font-family: Tahoma; color: #ffffff; font-size: 14px; font-style: italic}

  .FuncName {font-family: Tahoma; color: #000000; font-size: 24px; font-weight: bold }
  .FNSM {font-weight: bold}

  .StructName {font-family: Tahoma; color: #000000; font-size: 24px; font-weight: bold }
  .SNSM {font-weight: bold}
  .StructType {font-size: 13px; background-color:#e0e0e0}
  .Member {font-family: ; font-weight: bold}

  .ProtType {font-weight: bold; font-size: 13px; background-color:#e0e0e0}
  .FalMem {color: #ee0000; font-style: italic; font-weight: normal}
  .Result {font-size:13px; font-weight:normal}

  A:link {text-decoration: none; color: #4466ff}
  A:visited {text-decoration: none; color: #c08020}
  A:active {text-decoration: none; color: #ff0000}
  A:hover {text-decoration: none; color: #ff0000}
-->
</style>
