BODY {
  color : black;
  background-color : white;
  font-family : Arial;
  font-size : 10pt;
  margin-left : 3px;
}
A:LINK {
  color : blue;
}
A:VISITED {
  color : navy;
}
A:ACTIVE {
  color : red;
}
P{
  position : normal;
  z-index : auto;
  font-family : Arial;
}
PRE{
  position : normal;
}