BODY {
	color : black;
	
font-family : Arial;font-size : 10pt;}





H2{
	
	
font-size : 20px;border-top-style : none;border-left-style : double;border-left-width : 8px;border-bottom-style : solid;margin-left : 1px;margin-bottom : 1px;border-bottom-width : 2px;font-weight : bold;position : relative;padding-left : 10px;border-left-color : navy;border-bottom-color : navy;}

H1 {
	font-size : 36px;
	
font-family : Arial;border-bottom-width : 5px;border-bottom-style : solid;border-bottom-color : red;padding-bottom : 1px;margin-bottom : 20px;letter-spacing : normal;font-weight : bold;}


TABLE {
	
	
	margin-top			: 2pt;
	margin-bottom		: 2pt;
	margin-left			: 0pt;
	margin-right		: 0pt;
	padding-left		: 0pt;
	padding-right		: 0pt;
position : relative;left : 12px;font-family : Arial;font-size : 10pt;}




A:LINK {
	color : black;
}
A:VISITED {
	color : black;
}
A:ACTIVE {
	color : red;
}


P{position : relative;left : 12px;top : auto;font-family : Arial;font-size : 10pt;padding-right : 10px;margin-right : 6px;border-right-width : 8px;}
CODE{font-family : "Courier New", monospace;position : normal;left : 12px;font-size : 10pt;}
PRE{position : relative;left : 12px;}
H3{left : 12px;position : relative;}