BODY {
	color : black;
	background-color : white;
font-family : Arial;font-size : 10pt;}






























A:LINK {
	color : blue;
}
A:VISITED {
	color : navy;
}
A:ACTIVE {
	color : red;
}


P{position : relative;left : 6px;z-index : auto;font-family : Arial;}
PRE{position : relative;left : 12px;}