/* Default style for links */
a:active  { color: #0000CC}
a:hover   { color: #CC0033}
a:link    { color: #3366CC}
a:visited { color: #6633CC}

/* Default style */
body
{
  background-color: #FFFFFF;
}

/* Use this style for footnote numbers */
span.Footnote
{
  font-size: 10px;
  vertical-align: super
}

/* Use this style to control spacing for inline related topics tags */
div.WWHInlineRelatedTopics
{
  margin-top:    8px;
  margin-bottom: 4px;
}
